{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

    <nav class="navbar">

        <div class="nav-logo-section">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="nav-logo">
            <span class="nav-brand-name">Learner's Hub</span>
        </div>

        <ul class="nav-links">

            {% if not user.is_authenticated %}
            <a href="{% url 'signup_page' %}">Sign Up</a>
            <a href="{% url 'login_page' %}">Login</a>
            {% endif %}

            {% if user.is_authenticated %}
            <a href="{% url 'dashboard_page' %}">Dashboard</a>
            <a href="{% url 'logout_page' %}">Logout</a>
            {% endif %}

        </ul>

    </nav>

    <div class="main-container">

        <div class="messages">
            {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>

        {% block content %}{% endblock %}

    </div>

    <script src="{% static 'js/scripts.js' %}"></script>

</body>

</html>